<h2>My messages</h2>
<div class="row">
<ul class="media-list">

  <% @messages.each do |message| %>
    <div class="col-lg-3 col-xs-6 col-md-4">
      <div class="thumbnail">
        <li class="media">
          <p>From: </p>
          <p>Contact: <%= message.contact %> </p>
          <p> <%= message.contact_input %> </p>
          <p>Subject: <%= message.title %></p>   
          <p>Message: <%= message.message_content %></p>

        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>








