<h1>New Messages</h1>

<form id="new_message" method="post" action="/messages">


  <input type="hidden" name="recipient_id" value="<%= @recipient.id %>">
  <div class="form-group">
    <label for="sender">To: <%= @recipient.username %></label><p></p>
    <label for="sender">From: <%= current_user.username %></label><p></p>

    <label for="title">Subject</label>
    <input name="message[title]" type="text" class="form-control" id="title" placeholder="subject of your message">
  </div>
  <div class="form-group">
    <label for="content">Message</label>
    <textarea name="message[message_content]" type="text" class="form-control" id="content" placeholder="content of your message"></textarea> 
  </div>
  <div class="form-group">
    <label for="contact">How do you want <%= @recipient.username %> to contact you ?</label>
    <input type="radio" name="message[contact]" value="email"> Personal Email<br>
    <input type="radio" name="message[contact]" value="phone"> Phone<br>
    <input type="radio" name="message[contact]" value="profil"> Third Act Profile<br>
    <input name="message[contact_input]" type="text" class="form-control" id="contact_input" placeholder="Please, enter either your phone number or your email address.">
  </div>


  
  <button type="submit" class="btn btn-default">Send message</button>
</form>
