<h2>All Users</h2>

<div class="row">
<ul class="media-list">
  <% @users.each do |user| %>
    <div class="col-lg-3 col-xs-12 col-md-4">
      <div class="thumbnail">
        <li class="media">
          <div class="media-left">
              <% if user.profile_pic_identifier %>
                <img class="media-object" src="/uploads/<%= user.profile_pic_identifier %>">
              <% else %>
                <img class="media-object" src="/images/default.png" alt="<%=    user.username %>'s image">
              <% end %>
          </div>
          <div class="caption">
            <h3 class="media-heading"><%= user.username %></h3>
            <p><a href="/users/<%= user.id %>" class="btn btn-primary" role="button">View complete profile</a></p>
          </div>
        </li>
      </div> 
    </div>
  <% end %>
  <p><a href="#" class="btn btn-primary">Scroll To Top Of The Page</a></p>
 </ul>
</div>


