<h2>All properties</h2>
<div class="row">
<ul class="media-list">
  <% @properties.each do |property| %>
    <div class="col-lg-3 col-xs-6 col-md-4">
      <div class="thumbnail">
        <li class="media">
          <div class="media-left">
       
              <h3 class="media-heading"><%= property.owner%></h3>
            <p>
            <%= property.price %>
            </p>
            <p><a href="/properties/<%= property.id %>" class="btn btn-primary" role="button">Check all the informations about this property </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>


