
<input type="hidden" name="property-data" value='<%= @properties.to_json %>'
<form id="search-form" class="form-inline" action="/properties/map">


<a href="/properties/new" class="btn btn-primary">Add new property</a>

<h4>Filter by address, postcode or city: </h4>
<form id="search-form" class="form-inline" action="/properties">
  <input type="text" name="search" placeholder="Search" value="<%= params[:search] %>" class="form-control">
  <button class="btn btn-primary" id="search_button">Go</button>
  <a href="/properties" class="btn btn-primary" role="button" id="back_search_button"> List of all properties </a>
</form>

<div id="property-map"></div>