<h2>Describe your property and <br> share it with the rest of the community!</h2>

<form id="property" method="post" action="/properties" enctype="multipart/form-data">


  <div class="form-group">
   <h3> <label for="owner">Owner: <%= current_user.username %></label></h3>
  </div>
  <div class="form-group">
    <label for="profile_pic">Pictures </label>
    <input name="property[profile_pic]" type="file" class="form-control" id="profile_pic"   placeholder="pictures">
  </div>
  <div class="form-group">
    <label for="property_type">Type of property</label>
    <input name="property[property_type]" type="text" class="form-control" id="type" placeholder="Flat, house,...">
  </div>
  <div class="form-group">
    <label for="address1">Address</label>
    <input name="property[address1]" type="text" class="form-control" id="address1" placeholder="address">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input name="property[city]" type="text" class="form-control" id="city" placeholder="city">
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input name="property[postcode]" type="text" class="form-control" id="postcode" placeholder="postcode">
  </div>
  <div class="form-group">
    <label for="lat">Latitude AUTOMATIC</label>
    <input name="property[lat]" type="text" class="form-control" id="lat" placeholder="lat">
  </div>
  <div class="form-group">
    <label for="lng">Longitude AUTOMATIC</label>
    <input name="property[lng]" type="text" class="form-control" id="lng" placeholder="lng">
  </div>
  <div class="form-group">
    <label for="">Number of free rooms</label>
    <input name="property[number_of_rooms]" type="number" class="form-control" id="number_of_rooms" placeholder="number of rooms">
  </div>
  <div class="form-group">
    <label for="price">Monthly price</label>
    <input name="property[price]" type="number" class="form-control" id="price" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <input name="property[comment]" type="text" class="form-control" id="comment" placeholder="Comments">
  </div>

  <button type="submit" class="btn btn-primary" role="button">Share it </button>
</form>
