<h2>Describe your property</h2>
<h3>Share it with the rest of the community!</h3>

<form id="share_property" method="post" action="/properties">

<div class="form-group">
  <label for="profile_pic">Pictures </label>
  <input name="user[profile_pic]" type="file" class="form-control" id="profile_pic" placeholder="Profile Pic">
</div>

  <div class="form-group">
    <label for="property_type">Type of property</label>
    <input name="property[property_type]" type="text" class="form-control" id="type" placeholder="Flat, house,...">
  </div>
  <div class="form-group">
    <label for="owner">Owner: <%= current_user.username %></label>
    <!-- <input name="property[owner]" type="text" class="form-control" id="owner" placeholder="Owner"> -->
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input name="property[address]" type="text" class="form-control" id="address" placeholder="address">
  </div>
  <div class="form-group">
    <label for="">Number of free rooms</label>
    <input name="property[number_of_rooms]" type="number" class="form-control" id="number_of_rooms" placeholder="number of rooms">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input name="property[price]" type="number" class="form-control" id="price" placeholder="Price">
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <input name="property[comment]" type="text" class="form-control" id="comment" placeholder="Comments">
  </div>

  <button type="submit" class="btn btn-default">Share it </button>
</form>
