<h1 id="title">Third Act</h1>
<a href="/about"><button id="button_home">How to get started</button></a>
<a href="/properties/map"><button id="button_home">Map of available properties</button></a><br>
<a href="/properties"><button id="button_home">Available properties profile</button></a>
<a href="/users"><button id="button_home">Find a roommate to share your property</button></a>