
<!-- BEGIN: Container. -->
<div style="width: 100%;">
    <a href="#" class="readMore">How to get started ?</a>
    <!-- BEGIN: Hidden Content. -->
    <div class="content" style="display: none ;">

        <h3>Third Act was designed to help seniors finding either the perfect senior to come live with them or to help them finding another senior with a property where there would be happy to live in. </h3><br>
        Therefore, depending on what you are looking for, your can choose to go on the map showing all the available properties by clicking on "I want to find a property", or to access the list of all potential roommate by clicking on "I want to find a roommate". <br>
        <br>
        <h3>If you click on "I want to find a property", you have to choices : </h3>
        <ul>
            <li>
                You can directly click on a property on the map that interest you to access more informations. You      will be redirected the property profile which is link to the owners profile. If you are interest,       just "get in touch" with the owner. Don't forget to specify how you want him to answer you back (phone, email, third act profile).
            </li>
            <br>
            <li>
                You can use the search bar to filter the properties by address, postcode or city. 
            </li>
        </ul>
         <br>
         <h3>If you click on "I want to find a roommate" : </h3>
         <ul>
            <li>
                <p> You will immediately access a list of all your potential roommates. You can "view complete      profile", and then "get in touch" with them if you are interested.
                </p>
            </li>
            <li>
                <p> Having chosen to find a roommate also means that you should "share your property" with the rest     of the user. You can access the form from the map by clicking on "add a property" or through the "share your property" button on the top right of the page.
                </p>
            </li>
         <br>
         <h4> Click again on "how to get started" to go back to the homepage.

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br>
        
    </div>
  </div>
    <!-- END: Hidden Content. -->

    <h1 id="title">Third Act</h1>
    <div class="col-md-12" id="social_button">
      <ul class="social-network social-circle">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>       
    </div>
<!--     <a href="/messages"><button id="button_home">Check your messages</button></a> -->
<!--     <h3>Looking for a property to share?</h3> -->
    <a href="/properties/map"><button id="button_home">I want to find a property</button></a>

<!--     <a href="/properties"><button id="button_home">Available properties profile</button></a> -->
<!--     <h3>Looking for someone to share your property?</h3> -->
    <a href="/users"><button id="button_home">I want to find a roommate</button></a>