<h1>Third Act</h1>
<button><a href="/register">Register</a></button>
<button><a href="/properties">Find a property to share</a></button>
<button><a href="/users">Find a roommate to share your property</a></button>