<h1 id="title">Third Act</h1>
<button id="button_home"><a href="/about">How to get strated</a></button>
<button id="button_home"><a href="/#">Map</a></button><br>
<button id="button_home"><a href="/properties">Find a property to share</a></button>
<button id="button_home"><a href="/users">Find a roommate to share your property</a></button>